<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/login.css" type="text/css">
    <title>RACIST TYPING | Login</title>
</head>
<body>
    <form action="/submit" method="POST">
        <div class="container">
            <b><p class="enter">Enter Your Name</p></b>
        </div>

        <div class="box">
            <input type="text" name="name" id="name" placeholder="">
        </div>

        <div class="submit">
            <input type="submit" value="Enter">
        </div> 
    </form>
</body>
</html>